<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
  
    <script src="~/js/angular.js"></script>

  
    <script src="~/js/angular-route.js"></script>
   
    <script src="~/Contenct/Product/module.js"></script>
    <script src="~/Contenct/Product/service.js"></script>
    <script src="~/Contenct/Product/controller.js"></script>

    @*<script src="~/Assets/js/bootstrap.min.js"></script>*@
</head>
<body ng-app="myApp" ng-controller="myController">
    <div class="container">
        <hr />
        <div class="alert alert-info alert-dismissible" role="alert" ng-if="message">
            {{message}}
            <button type="button" class="close" aria-label="close">
                <span aria-hidden="true" ng-click="clearInfo()">&times;</span>
            </button>
        </div>


        <h4>
            Product List<button type="button" style="width:auto" class="btn btn-sm btn-info float-right" data-toggle="modal" data-target="#AddModal">+ Add New Product</button>
        </h4>

        <table class="table table-bordered table-striped  table-sm">
            <thead>
                <tr class="bg-secondary text-light">
                    <td>Sl No</td>
                    <td>Product Name</td>
                    <td>Product Price</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="product in Products">
                    <td>{{$index+1}}</td>
                    <td>{{product.ProductName}}</td>
                    <td>{{product.Price}}</td>
                    <td>
                        <button type="button" data-toggle="modal" data-target="#editModal" ng-click="selectedProduct(product)" class="btn btn-sm btn-info">Edit</button>
                        <button type="button" data-toggle="modal" data-target="#deleteModal" ng-click="selectedProduct(product)" class="btn btn-sm btn-danger">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>


        <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Add New Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <form ng-submit="submit()">

                            <div class="form-group">
                                <label for="username" class="col-form-label">Product Name:</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newProduct.ProductName" id="username" placeholder="Product Name..." required>
                            </div>

                            <div class="form-group">
                                <label for="fullname" class="col-form-label">Product Price:</label>
                                <input type="text" class="form-control form-control-sm" ng-model="newProduct.Price" placeholder="Product Price..." id="fullname" required>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" id="submit" class="btn btn-info" data-dismiss="modal" ng-click="addProduct()" style="width:auto">Save Product</button>
                            </div>

                        </form>
                    </div>


                </div>
            </div>
        </div>


        <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Edit Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">

                        <form>
                            <input type="hidden" ng-click="clickedProduct.Id" />
                            <div class="form-group">
                                <label for="username" class="col-form-label">Product Name:</label>
                                <input type="text" class="form-control form-control-sm" ng-model="clickedProduct.ProductName" id="username" placeholder="Product Name...">
                            </div>

                            <div class="form-group">
                                <label for="fullname" class="col-form-label">Product Price:</label>
                                <input type="text" class="form-control form-control-sm" ng-model="clickedProduct.Price" placeholder="Product Price..." id="fullname">
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-info" data-dismiss="modal" ng-click="updateProduct()" style="width:auto">Update Product</button>
                            </div>

                        </form>

                    </div>



                </div>
            </div>
        </div>

        <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">

                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Delete Product</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>

                    <div class="modal-body">
                        <p>Are you sure ?? delete the product : <b class="text-primary"><u>{{clickedProduct.ProductName}}</u></b></p>
                    </div>

                    <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                        <button type="submit" class="btn btn-info" data-dismiss="modal" ng-click="deleteProduct()">Yes</button>
                    </div>

                </div>
            </div>
        </div>
    </div>
</body>
</html>






